.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.log
*.tfplan
*.tfplan.out
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lzma
*.tar.lzo
*.tar.sz
*.tar.zstd
*.tar.zst
*.tfstate.*
*.tfvars.*
scripts/venv/*